<%- include('../partials/header.ejs') %>
<link href="/css/login/style.css" rel="stylesheet" type="text/css">
<div class="login-container">
    <div class="row">
        <div class="login-form">
            <h3>CatchJob</h3>
            <form class="form"  method="post" >          
                    <input type="text" name="email" class="form-control" placeholder="Your Email *" value="" />
                    <br>
                    <input type="password" name="senha" class="form-control" placeholder="Your Password *" value="" />               
                    <br>
                    <input type="submit" class="btnSubmit" value="Login" formaction="/login/users" />
                    <br>
                    <a href="#" class="ForgetPwd">Esqueceu sua senha?</a>    
                    <hr>
                    <input type="submit" class="btnSubmit" value="Registre-se"/>                
            </form>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>